.TaskPanelContainer {
    border-radius: 20px;
    text-align: left;
    padding: 5px 20px 5px 20px;
    align-self: center;
}

.ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TimeLabel {
    font-size: small;
}