
.TaskPanelContainer {
    /* border: 2px solid black; */
    border-radius: 20px;
    text-align: left;
    padding: 5px 20px 5px 20px;
    /* margin-left: 20%; */
    background-color: rgb(254, 242, 233);
    /* font-size: x-small; */
    align-self: center;
}

.ButtonContainer {
    display: flex;
    display: inline;
}

.TimeLabel {
    font-size: small;
    /* margin-top: 0%; */
}